{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "ie >= 11"]
      }
    }],
    "@babel/preset-react",
  ],
  "plugins": [
    "emotion",
    "@babel/syntax-dynamic-import",
    "@babel/proposal-export-default-from",
    "@babel/proposal-class-properties",
    ["module-resolver", {
      "alias": {
        "^/(.+)": "./src/\\1"
      }
    }],
    ["inline-import", {
      "extensions": [".css", ".woff"]
    }]
  ]
}
